listen              443 ssl;
ssl_certificate     /etc/ssl/certs/${NGINX_SSL_CERT_FILE};
ssl_certificate_key /etc/ssl/private/${NGINX_SSL_CERT_KEY_FILE};

# force https-redirects
if (${DOLLAR}scheme = http) {
    rewrite ^ https://${DOLLAR}host${DOLLAR}request_uri? permanent;
}
