[client]
default-character-set = ${MARIADB_DEFAULT_CHARACTER_SET}

[mysqld]
socket = $HENCE_APP_DIR/tmp/mysql.sock
character-set-server = ${MARIADB_CHARACTER_SET_SERVER}
character-sets-dir = ${MARIADB_CHARACTER_SET_DIR}
collation-server = ${MARIADB_COLLATION_SERVER}
